.listBoxModalView {
  width: 100%;

  .flexboxgrid {
    background: #000;
  }

  .title {
    background: $dark;
    color: #fff;
    padding: 12px;
    margin: 0;
    width: 100%;
  }

  .subtitleIcon {
    float: right;
  }
}
