.myGroupsPopover {
  background-color: $light;
  border: 1px solid gray;
  color: #fff;

  div[data-react-toolbox="card"] {
    box-shadow: none;
    border-radius: 0;
    border: solid 1px darken($light, 50%) !important;
    padding: 1rem;

    &:nth-child(2) {
      border-right: none !important;
    }
  }

  h3 {
    background: $dark;
    margin: 0;
    font-size: 16px;
    padding: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    font-weight: normal;

    span {
      display: none;
    }
  }

  p {
    text-align: left;
    padding: 0 5px;
    height: 25px;
    color: #000;
    margin: 2px;
    font-size: 16px;
  }

  .overview {
    p {
      color: #000;
      font-size: 24px;
      font-weight: bold;
      text-align: right;
    }

    h1 {
      text-align: right;
      color: #000;
      font-size: 16px;
      margin: 0;
      padding-top: 0;
    }
  }
}
