.areasOfFocusSection {
  border: solid 2px darken($light, 2%);
  margin-bottom: 3rem;
  background: lighten($light, 2%);

  .header {
    background: $dark;
    color: #fff;
    padding: 20px;
    margin: 0;
    border-bottom: solid 3px $info;
    position: relative;

    &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 25%;
    background: rgba($info, .2);
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 30%;
      background: rgba($info, .2);
    }

    .title {
      font-size: 23px;
    }
  }

  [class*='listBox'] {
    padding: .5rem !important;
  }

  [data-react-toolbox="button"] {
    background: #fff;
    width: 100%;
    text-align: left;
    color: $dark;
    font-size: 1rem;
    border-top: solid 2px darken($light, 2%);
    border-radius: 0;
  }

  [class*='theme__toggle'] {
    width: 60px;
    text-align: center;
    border: none;
  }

  [class*='cardActions'] {

    button {
      text-align: center;
      border: none;
    }
  }
}
