
.progressTracker {
  .progressTrackerHeader {
      background: #e7f6ed;
      height: 60px;
      margin: 0px 0px 10px 0px;

      h2 {
        padding: 1%;
      }
}


.tableHeader {
      border: 1px solid gray;
      font-size: 20px;
      font-weight: 40px;
      background: #e7f6ed;
      padding: 10px;
      margin: 0px 1px;
      text-align: center;
      color: #5c5858;
  }

.tableRow {
    border: 1px solid gray;
    text-align: center;
    padding: 10px;
    margin: 0 1px;
    font-size: 20px;
    color: gray;
}


  .progressTrackerTable {
    
    .table  {
       border: 1px solid black;
       text-align: center;
    

      tr:nth-child(even) {
        background-color: #fff;
       
      }

      tr:nth-child(odd) {
        background-color: #e8f8f5;
        padding: 2px;
      }

      th {
        background-color: #fff;
        border: solid 1px #ccc;

      }

      td {
        border: solid 1px #ccc;

      }
    }
  }
}







