.progressTracker {
  .header {
    background: $dark;
    height: 90px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: $light;
    border-bottom: solid 2px #FEC83E;
    margin-bottom: 2rem;
    padding: 0 2rem;
  }

  .reportTable {
    padding: 0 2rem;

    div {
      margin: 0;
    }

    .tableHeader {
      font-size: 20px;
      font-weight: 40px;
      background: #4980c7;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    .tableRow {
      border: 1px solid gray;
      border-top: 0;
      text-align: center;
      padding: 10px;
      margin: 0 1px;
      font-size: 20px;
      color: gray;
      background: #fff;
    }

    [data-tip="true"] {
      position: relative;
      left: 250%;
    }
  }
}
