// LoginButton

.loginButton {
  float: right;
}

// LogoutButton

.logoutButton {
  float: right;
}

// Home

.homeLayout {
  color: #110b31;
  display: block;
  width: 50%;
  margin: auto;
  padding: 10px;
}

// SharedGoals

.sharedGoalsTable {
  border-collapse: collapse;
  width: 100%;
}

// HeaderImage

.headerImage {
  padding: 10px;
}

// AlertTable

.AlertTable {
  border: solid 1px #ccc;
  border-collapse: collapse;
  border-style: outset #ccc;

  tr:nth-child(even) {
    background-color: #fff;
  }

  tr:nth-child(odd) {
    background-color: #e8f8f5;
  }

  th {
    background-color: #fff;
    border: solid 1px #ccc;
    border-style: outset #ccc;
  }

  td {
    border: solid 1px #ccc;
    border-style: outset #ccc;
  }
}

// NavBar

.navBar {
  margin: 110px;

  ul {
    list-style-type: none;
    overflow: hidden;
  }

  li {
    float: left;
    margin-right: 0;

    a {
      display: block;
      color: white;
      text-align: center;
      padding-left: 20px;
      padding-right: 60px;
      text-decoration: none;
    }
  }
}

// ScoreBox

.ScoreBox {
  width: 310px;

  .card {
    width: auto;
    height: auto;
    margin: 5px;
  }

  .score {
    font-size: 40px;
  }
}

// ListBox

.ListBox {
  border: solid 1px #ccc;
  border-collapse: collapse;

  tr:nth-child(odd) {
    background-color: #fff;
  }

  tr:nth-child(even) {
    background-color: #e8f8f5;
  }

  th {
    background-color: #fff;
    border: solid 1px #ccc;
  }

  td {
    border: solid 1px #ccc;
  }
}

// MyGroupsPopover

.MyGroupsPopover {
  width: 150%;
  height: 300px;
  background-color: #ebe8e8;
  border: 1px solid gray;
  color: #fff;

  h3 {
    background: #004c99;
    margin: 0;
    font-size: 16px;
  }

  p {
    text-align: left;
    padding: 0 5px;
    height: 25px;
    color: #000;
    margin: 2px;
    font-size: 16px;
  }
}

.Overview {
  p {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
  }

  h1 {
    text-align: right;
    color: #000;
    font-size: 16px;
    margin: 0;
    padding-top: 0;
  }
}

// MyGroupsHeader

.SortingSelector {
  float: right;
  width: 30%;
}

.dropdown.label {
  color: #000;
  font-size: 24px;
}

.MyGroupsLogo {
  h2 {
    width: 80%;
    padding: 2%;
  }
}

//PopulationReach

.PopulationReach {
  .PopulationReachHeader {
    background: #e7f6ed;
    height: 90px;
    margin: 80px 0 0;
  }

  h2 {
    width: 80%;
    padding: 2%;
  }
}

.PopulationReachSubgroups {
  .prioritySection {
    width: 52%;

    .title {
      background-color: #4980c7;
      padding: 12px;
      margin: 0;
    }

    .contents {
      float: right;
    }
  }

  .dependencySection {
    width: 102%;

    .title {
      background-color: #4980c7;
      padding: 12px;
      margin: 0;
    }

    .contents {
      float: right;
    }
  }

  .registedSection {
    .title {
      background-color: #4980c7;
      padding: 12px;
      margin: 0;
    }

    .contents {
      float: right;
    }
  }
}

// ScoreRiskPopover

.ScoreRiskPopover {
  border: 1px solid gray;
  background: #fadede;

  .title {
    background: #f00 !important;
    padding: 0 !important;
    margin: 0;

    .fontIcon {
      color: #fff;
      padding: 5px;
    }
  }

  .body {
    padding: 2px;
  }
}
