// LoginButton

.loginButton {
  float: right;
}

// LogoutButton

.logoutButton {
  float: right;
}

// Home

.homeLayout {
  color: #110b31;
  display: block;
  width: 50%;
  margin: auto;
  padding: 10px;
}

// SharedGoals

.sharedGoalsTable {
  border-collapse: collapse;
  width: 100%;
}

// HeaderImage

.headerImage {
  padding: 10px;
}

// AlertTable

.AlertTable {
  border: solid 1px #ccc;
  border-collapse: collapse;
  border-style: outset #ccc;

  tr:nth-child(even) {
    background-color: #fff;
  }

  tr:nth-child(odd) {
    background-color: #e8f8f5;
  }

  th {
    background-color: #fff;
    border: solid 1px #ccc;
    border-style: outset #ccc;
  }

  td {
    border: solid 1px #ccc;
    border-style: outset #ccc;
  }
}

// NavBar

.navBar {
  ul {
    list-style-type: none;
    overflow: hidden;
  }

  li {
    float: left;
    margin-right: 0;

    a {
      display: block;
      color: white;
      text-align: center;
      padding-left: 20px;
      padding-right: 60px;
      text-decoration: none;
    }
  }
}

// ScoreBox

.ScoreBox {
  p {
    text-align: left;
    margin: 1px;
  }

  h1 {
    text-align: right;
    color: #000;
    font-size: 24px;
    font-style: italic;
    margin: 5px;
    white-space: nowrap;
  }
}

// ListBox

.ListBox {
  border: solid 1px #ccc;
  border-collapse: collapse;

  tr:nth-child(odd) {
    background-color: #fff;
  }

  tr:nth-child(even) {
    background-color: #e8f8f5;
  }

  th {
    background-color: #fff;
    border: solid 1px #ccc;
  }

  td {
    border: solid 1px #ccc;
  }
}



// MyGroupsPopoversection

.HeaderSection {

    height: 420px; 
    background-color: #EBE8E8; 
    border: 1px solid gray; 
    color:#fff;

h3 {
    background: #004C99; 
    margin: 0px; 
    font-size: 16px; 
  }

p {
   text-align: left;
   padding: 0 5px;
   height: 25px; 
   color: #000; 
   margin: 2px; 
   font-size:16px;

  }  
}

.Overview {

  p {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    }

  h1 {
    text-align: right;
    color: #000;
    font-size: 16px;
    margin: 0px;
    padding-top: 0px;
  } 
}



//MyGroupsHeader

.SortingSelector {
  float: right;
  width: 30%;
}   

.dropdown.label {

  color: #000;  
  font-size: 24px;

}

.tooltip {
    position: relative;
    display: inline-block; 
}


.tooltip .tooltiptext {
    visibility: hidden;    
    color: #fff;
    width: 600px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 3%;
    right: 100%;
    margin-top: -5px;
    border: 27px solid; 
    border-color: transparent #004C99 transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}



//PopulationReachSubGroup

.priority{

    height: 500px; 
    background-color: #EBE8E8; 
    border: 1px solid gray; 
    padding: 20px;

}

.dependency{
    height: 500px; 
    background-color: #EBE8E8; 
    border: 1px solid gray; 
    padding: 20px;

}

.registed{
    height: 500px; 
    background-color: #EBE8E8; 
    border: 1px solid gray; 
    padding: 20px;

}



.subbox {


  p {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    }

  h1 {
    text-align: right;
    color: #000;
    font-size: 16px;
    margin: 0px;
    padding-top: 0px;
  } 
}