.alertSummarySidebar {
  .button {
    padding: 2.5px;
    background: #aba7a7;
  }

  .card {
    width: 25%;
    height: 550px;
    border: 1px solid #ebe8e8;
    float: left;
  }

  .headerBar {
    background: gray;
    padding: 25px;
    margin: 0;
  }
}
