.alertSummaryTable {
  padding: 15px;
  background: $table-background;

  .table {
    border: solid 2px #ccc;
    border-collapse: collapse;
    border-style: outset #ccc;
    color: $dark;

    tr:nth-child(even) {
      background-color: #fff;
    }

    tr:nth-child(odd) {
      background-color: $light;
    }

    th {
      background-color: #fff;
      border: solid 1px #ccc;
      border-style: outset #ccc;
    }

    td {
      border: solid 1px #ccc;
      border-style: outset #ccc;
    }
  }
}
