.alertSummaryTable {
  padding: 15px;
  background: #e5e0e0;

  .table {
    border: solid 2px #ccc;
    border-collapse: collapse;
    border-style: outset #ccc;

    tr:nth-child(even) {
      background-color: #fff;
    }

    tr:nth-child(odd) {
      background-color: #e8f8f5;
    }

    th {
      background-color: #fff;
      border: solid 1px #ccc;
      border-style: outset #ccc;
    }

    td {
      border: solid 1px #ccc;
      border-style: outset #ccc;
    }
  }
}
