.vitalSigns {
  .vitalSignsHeader {
    background: #e7f6ed;
    height: 90px;
  }

  .vitalSignsSubgroup {
    border: 2px solid #ebe8e8;
    margin-bottom: 15px;

    .body {
      background: #e5e0e0;
      padding: 15px;
      margin: 0;
    }
  }

  .vitalSignsReportLink {
    text-align: center;
    font-size: 30px;
  }
}
