.navBar {
  margin: 110px;

  .loginButton {
    float: right;
  }

  .logoutButton {
    float: right;
  }

  .navItems {
    ul {
      list-style-type: none;
      overflow: hidden;
    }

    li {
      float: left;
      margin-right: 0;

      a {
        display: block;
        color: white;
        text-align: center;
        padding-left: 20px;
        padding-right: 60px;
        text-decoration: none;
      }
    }
  }
}
