* {
  //background: rgba(green, .1);
}

.navBar {
  margin-bottom: 150px;
  display: flex;
  align-items: center;

  header {
    background: $dark;
    border-bottom: solid 3px $secondary;

      h4 {
        a {
          text-decoration: none;
          font-size: 1.5rem;
          white-space: no-wrap;
          font-weight: normal;
        }
      }
  }

  button {
    margin-right: auto;
    background: $info;
    font-size: 1rem;
  }

  .navItems {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: flex-end;

    ul {
      list-style-type: none;
      overflow: hidden;
      margin-right: auto;
    }

    li {
      float: left;
      margin-right: 0;

      a {
        display: block;
        color: white;
        text-align: center;
        padding-left: 20px;
        padding-right: 60px;
        text-decoration: none;
      }
    }
  }
}
