$blue: #0000ff;
$white: #fff;

.navigation {
  background-color: $blue;
  font-color: $white;
}

.horizontal {
  > [mygroupnavigation="button"], > [data-react-toolbox="link"] {
    display: block;
    margin: 0;
  }
}
