$darknavy: #14688D;
$white: #fff;



.appBar {
  background-color: $darknavy;


  > svg {
    width: 3.4rem;
    height: 3.4rem;
    margin-right: 1rem;
    fill: $white;
  }
}

ul {
    list-style-type: none;
  	overflow: hidden;
    background-color: $darknavy;
}

li {
    float: left;
    margin-right: 0;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding-left:  20px;
    padding-right: 60px;
    text-decoration: none;
}

h4 {padding-right: 160px;}
