.sharedOutcomes {
  .sharedOutcomesHeader {
    background: $dark;
    height: 90px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: $light;
    border-bottom: solid 2px #FEC83E !important;
    margin-bottom: 2rem;
    padding: 0 2rem;
  }

  [class*="InteractiveSharedOutcomesHeader"] {
    background: #4C82C5 !important;
  }

  .sharedOutcomesSubgroup {
    border: 2px solid #ebe8e8;
    margin-bottom: 15px;

    .body {
      background: #e5e0e0;
      padding: 15px;
      margin: 0;
    }
  }

  [data-react-toolbox="radio-group"] {
    display: flex;

    div {
      margin-left: 1rem;
    }
  }
}
