.sharedOutcome {
  .sharedOutcomeHeader {
    background: #e7f6ed;
    height: 90px;
    margin: 80px 0 0;
  }

  .sharedOutcomeSubgroup {
    border: 2px solid #ebe8e8;
    margin-bottom: 15px;

    .body {
      background: #e5e0e0;
      padding: 15px;
      margin: 0;
    }
  }

  .sharedOutcomeDetails {
    text-align: center;
    font-size: 30px;
  }
}
