.alertSummarySection {
  border: 2px solid #ebe8e8;

  .header {
    background: #4980c7;
    color: #fff;
    padding: 20px;
    margin: 0;

    .title {
      font-size: 23px;
      padding-left: 10px;
    }
  }
}
