.communityPattern {
  .header {
    background: $light;
    height: 90px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: $dark;
    border-bottom: solid 2px darken($light, 5%);
  }

  .subHeader {
    background: #4980c7;
    color: #fff;
    padding: 20px;
    margin: 0;
    font-size: 23px;
  }

  .subgroup {
    border: 2px solid #ebe8e8;
    margin-bottom: 15px;

    .header {
      background: #4980c7;
      color: #fff;
      padding: 20px;
      margin: 0;

      .title {
        font-size: 23px;
      }
    }

    .body {
      background: #e5e0e0;
      padding: 15px;
      margin: 0;
    }
  }

  .reportTable {
    .tableHeader {
      border: 1px solid gray;
      font-size: 20px;
      font-weight: 40px;
      background: #e7f6ed;
      padding: 10px;
      margin: 0 1px;
      text-align: center;
      color: #5c5858;
    }

    .tableRow {
      border: 1px solid gray;
      text-align: center;
      padding: 10px;
      margin: 0 1px;
      font-size: 20px;
      color: gray;
    }
  }
}
