.valueImpact {

  section {
    outline: none !important;
  }

    [class*="row"] {
      padding: 0 2rem;
    }

    input {
      background: #fff;
      font-size: 1rem;
      padding-left: 1rem;
    }

  .header {
    background: $dark;
    height: 90px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: $light;
    border-bottom: solid 2px #FEC83E !important;
    margin-bottom: 2rem;
    padding: 0 2rem;
  }


  svg {
    max-height: 500px;
  }

  .subHeader {
    background: #4980c7;
    color: #fff;
    padding: 1rem;
    margin: 0;
    margin-bottom: 1rem;
    font-size: 23px;

    &:nth-of-type(4) {
      margin-top: 2rem;
      max-width: calc(100% - 2rem) !important;
    }
  }

  [data-react-toolbox="input"] {
    padding: 0;
    margin-bottom: 1rem;

    input {
      max-width: 94%;
    }
  }

  .subgroup {
    border: 2px solid #ebe8e8;
    margin-bottom: 15px;

    .header {
      background: #4980c7;
      color: #fff;
      padding: 20px;
      margin: 0;

      .title {
        font-size: 23px;
      }
    }

    .body {
      background: #e5e0e0;
      padding: 15px;
      margin: 0;
    }
  }

  [data-react-toolbox="tabs"] {
    overflow: hidden;

    [class*="theme__pointer"] {
      background: #FDC74D;
    }

    [class*="theme__navigation"] {
      background: $dark;
    }
  }

}
