.healthOutcomesSection {
  border: 2px solid darken($light, 5%);
  margin-bottom: 3rem;

  .header {
    background: $primary;
    color: #fff;
    padding: 20px;
    margin: 0;

    .title {
      font-size: 23px;
    }
  }

  .body {
    background: lighten($light, 2%);
    padding: 15px;
    margin: 0;
  }
}
