.listBox {
  .table {
    border: solid 1px #ccc;
    border-collapse: collapse;
    color: $dark;

    tr:nth-child(odd) {
      background-color: #fff;
    }

    tr:nth-child(even) {
      background-color: $light;
    }

    th {
      background-color: #fff;
      border: solid 1px #ccc;
    }

    td {
      border: solid 1px #ccc;

      div {

        line-height: 1.5;
        padding: .5rem 0;

        a {
          font-size: .8rem;
          color: $link-color;
          margin-left: auto;
        }

        a[data-react-toolbox="link"] {
          margin-top: 1rem;
          font-size: 1rem;
          color: #666;
        }
      }

      small {
        a {
          display: flex;
          align-items: center;
          color: $link-color;
          text-decoration: none;

          span {
            margin-right: 1rem;
            display: inline-block;
          }
        }
      }
    }
  }
}
