.listBox {
  .table {
    border: solid 1px #ccc;
    border-collapse: collapse;

    tr:nth-child(odd) {
      background-color: #fff;
    }

    tr:nth-child(even) {
      background-color: #e8f8f5;
    }

    th {
      background-color: #fff;
      border: solid 1px #ccc;
    }

    td {
      border: solid 1px #ccc;
    }
  }
}
