.communityTapestry {

  > div {
    border: 0 !important;
  }

  svg {
    max-height: 400px;
  }

  .header {
    background: $dark;
    height: 90px;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: $light;
    border-bottom: solid 2px #FEC83E !important;
    margin-bottom: 2rem;
    padding: 0 2rem;
  }

  .descriptionText {
    margin: 40px;
  }

  .pieChartContainer {
    text-align: center;
    margin: 40px;
  }

  .subHeader {
    background: #4980c7;
    color: #fff;
    padding: 20px;
    margin: 0;
    font-size: 23px;
  }

  br {
    display: none;
  }

  .subgroup {
    border: 2px solid #ebe8e8;
    margin-bottom: 15px;
    margin: 0 2rem;
    box-shadow: 0 2px 5px 0 rgba(#000, .3);
    .header {
      background: #4980c7;
      color: #fff;
      margin: 0;

      .title {
        font-size: 23px;
      }
    }

    .body {
      background: #e5e0e0;
      padding: 15px;
      margin: 0;
    }

  [class*="flexboxgrid__row"] {

    &:last-of-type {
      padding: 2rem;
      background: #fff;
      margin: 0 !important;
      margin-bottom: 1rem !important;
    }
  }
}

  .reportTable {
    .tableHeader {
      font-size: 20px;
      font-weight: 40px;
      background: #fff;
      padding: 10px;
      margin: 0 1px;
      text-align: center;
      color: #5c5858;
    }

    .tableRow {
      background: #fff;
      text-align: center;
      padding: 10px;
      margin: 0 1px;
      font-size: 20px;
      color: gray;
    }
  }
}
