.listBoxModalView {
  width: 100%;

  [class*="flexboxgrid__row"] {

    &:nth-of-type(2) {
      padding: 1.5rem;
      align-items: stretch;
    }
  }

  .title {
    background: $dark;
    color: #fff;
    padding: 12px;
    margin: 0;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
  }
}
